.header_main {
  min-height: 60px;
  background-color: #131921;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
}
.authentication_div {
  display: flex;
  justify-content: space-evenly;
}
.amazon_header_logo {
  width: 100px;
  color: white;
  height: 70%;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 18px;
  object-fit: contain;
}

.second_div_header {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
  border: 2px solid #131921;
  padding: 2px;
}
.third_div_header {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
  border: 2px solid #131921;
  padding: 2px;
}
.auth_link_header {
  color: white;
  text-decoration: none;
}

.searchBox_header {
  display: flex;
  flex: 1;
  align-items: center;
  border-radius: 24px;
}
.third_div_header2 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 14px;
}
.third_div_header1 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 12px;
}
.searchBox_header > select {
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 2px 0 0 2px;
  font-size: 14px;
  padding: 5px;
  height: 41px;
}
.search_header {
  padding: 5px;
  background-color: #fcba03;
  font-size: 3.2rem;
  height: 23.5px;
  padding: 5px;
  border-radius: 0 5px 5px 0;
  position: relative;
  right: 2.5px;
  top: 2px;
}
.header_cart_div {
  display: flex;
  align-items: center;
  border: 1px solid #131921;
}
.header_cart_div_count {
  margin-left: 10px;
  margin-right: 10px;
}
.searchBox_header_inputbox {
  padding: 10px;
  border: none;
  width: 80%;
  height: 14px;
}
#searchBox_header_select {
  height: 35.05px;
}
.third_div_header:hover {
  border: 2px solid white;
  padding: 2px;
}
.header_cart_div:hover {
  border: 0.5px solid white;
}
.search_button_1 {
  background-color: #131921;
  border: none;
  padding: -1px;
}
